
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

:root {
    --green: #538d4e;
    --yellow: #b59f3b;
}

body {
    background: black;
    margin: 0;
}
.open ul {
    left: 0 !important;
}
ul li {
    color: white;
    font-size: 24px;
    margin: 24px 0;
}
.gordle {
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 12px;
    display: grid;
    grid-template-columns: 40px 1fr 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}
.battle .gordle {
    display: flex;
}
.gordle ul {
    position: absolute;
    width: calc(100vw - 48px);
    height: 100vh;
    top: calc(100% + 1px);
    left: -100%;
    transition: all 0.5s;
    background: rgb(32, 32, 32);
    margin: 0;
    padding: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
    list-style: none;
}
.hamburger {
    display: block;
    height: 28px;
    width: 40px;
    background: linear-gradient(to bottom, 
        white 0, 
        white 4px, 
        transparent 4px, 
        transparent 12px,
        white 12px, 
        white 16px, 
        transparent 16px, 
        transparent 24px,
        white 24px, 
        white 28px
    )
}
.gordle h1 {
    font-size: 24px;
    line-height: 24px;
    margin: 0;
}
* {
    color: white;
    font-family: 'Source Sans Pro' !important;
}
.letter-grid {
    display: block;
    margin: 24px auto;
    width: fit-content;
}
.letter-row {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    width: 294px;
    margin-bottom: 12px;
    perspective: 500px;
    -webkit-perspective: 500px;
}
.letter {
    outline: 1px solid grey;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 32px;
    transform-style: preserve-3d;
    transform: rotate3d(0,1,0,360deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: all 1s;
}
.letter--filled {
    animation: rotateZ 1s forwards linear;
}
@keyframes rotateZ {
    0% {
        transform: rotate3d(0,1,0,360deg);
    }
    50% {
        transform: rotate3d(0,1,0,180deg);
    }
    100% {
        transform: rotate3d(0,1,0,0deg);
    }
}
/* .letter--filled {
    transform: none
} */
.input {
    margin-top: 24px;
}
.keyboard {
    display: block;
    margin: 24px auto;
    width: 100%;
    max-width: 400px
}
.keyboard-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
.keyboard-row:first-child {
    width: 100%;
}
.key {
    height: 45px;
    width: 30px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 7px;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.5s;
    touch-action: manipulation;
}
.touched {
    background: grey;
    transition: none;
}
.enter {
    width: 50px;
    font-size: 14px;
}
.backspace {
    width: 50px;
    color:transparent;
    position: relative;
}
.backspace::after {
    content: '<';
    width: 100%;
    height: 100%;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    opacity: 0;
    transition: z-index 0s, opacity 1s;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-card {
    width: 90%;
    height: 400px;
    background: white;
    display: block;
}
.modal.open {
    z-index: 10;
    opacity: 1;
}
.modal h2 {
    color: black;
    text-align: center;
}
.modal p {
    color: black;
    text-align: center;
    cursor: pointer;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    touch-action: manipulation;
}

.clip-pop {
    background: rgb(233, 233, 233);
    border-radius: 10px;
    width: 126px;
    position: fixed;
    top: 50px;
    left: calc(50% - 75px);
    z-index: 999999;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 12px;
    transition: all 0.5s;
    opacity: 0;
    margin-top: 12px;
}
.popped {
    opacity: 1;
    margin:0;
}
.feed {
    width: 90%;
    margin: 0 auto;
    background: white;
    color: black;
    height: 500px;
    max-width: 900px;
}
.message {
    width: 90%;
    margin: 0 auto;
    display: block;
    background: white;
    color: black;
    height: 100px;
    max-width: 900px;
}
.send {
    background: transparent;
    border: 1px solid white;
    margin: 0 auto;
    display: block;
    padding: 12px;
}
.feed p {
    color: black;
}
.username {
    width: 90%;
    max-width: 400px;
    margin: 24px auto;
}
.username input {
    width: 100%;
    height: 40px;
    color: black;
}
.username button {
    display: flex;
    width: 100%;
    background: transparent;
    border: 1px solid white;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.letter--filled--battle {
    animation: grow 0.5s forwards;
}
@keyframes grow {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.1)
    }
    100% {
        transform: scale(1)
    }
}

#userForm {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    display: block;
}
#userForm input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    margin: 12px auto;
}
.btnBay {
    display: flex;
}
.btnBay button {
    height: 40px;
    width: 100%;
    background: transparent;
    border: 1px solid white;
}

.opponentName {
    text-align: center;
}
.logout {
    cursor: pointer;
}
.bottom-nav {
    margin-top: 48px;
    display: flex;
    width: 100%;
    justify-content: center;
}
.bottom-nav a {
    display: block;
    margin: 0 24px;
}